@import 'variables';

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
        margin: 20px 10px 0 10px;
        border-radius: 10px;
        border: none;
        background: $primary-c;
        box-shadow: $main-shadow;
        padding: 20px;
        width: calc(calc(100% - 80px) / 4);

        .visit {
            margin-top: 20px;
            width: 100%;
        }

        .name {
            display: inline-block;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 10px;
        }

        .links {
            div {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-top: 10px;

                span {
                    font-weight: 600;
                }
            }
        }
    }
}
